[package]
name = "phoenix_channels_client"
version = "0.9.0"
rust-version = "1.64"
authors = ["Paul Schoenfelder <paulschoenfelder@gmail.com>", "Elle Imhoff <Kronic.Deth@gmail.com>"]
description = "Provides an async-ready client for Phoenix Channels in Rust"
repository = "https://github.com/liveview-native/phoenix-channels"
homepage = "https://github.com/liveview-native/phoenix-channels"
documentation = "https://github.com/liveview-native/phoenix-channels"
categories = ["asynchronous", "web-programming:websocket"]
keywords = ["phoenix", "channels", "elixir"]
license = "Apache-2.0"
readme = "README.md"
edition = "2021"

[lib]
crate-type = [
    # Integration tests
    "lib",
    # Android
    "cdylib",
    # iOS
    "staticlib"
]

[[bin]]
name = "uniffi-bindgen"
path = "uniffi-bindgen.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = []
nightly = []
native-tls = ["tokio-tungstenite/native-tls"]

[dependencies]
arc-swap = "1.6.0"
atomic-take = "1.1.0"
bytes = "1.5.0"
flexstr = { version = "0.9.2", features = ["serde"] }
futures = "0.3"
fxhash = "0.2"
httparse = "1.8"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
strum_macros = "0.25.0"
thiserror = "1.0"
tokio = { version = "1.35", features = ["sync", "macros", "time", "tracing"] }
tokio-tungstenite = "0.21.0"
uniffi = { version = "0.26.0", features = ["cli", "tokio"] }
url = "2.5"
uuid = { version = "1.7.0", features = ["v4"] }

[dev-dependencies]
chrono = "0.4.31"
env_logger = "0.10"
uniffi = { version = "0.26.0", features = ["bindgen-tests", "tokio", "cli"]}
tokio = { version = "1.35", features = ["full", "tracing", "test-util"] }

[build-dependencies]
uniffi = { version = "0.26.0", features = ["build"] }
