[package]
name = "phoenix_channels_client"
version = "0.1.2"
rust-version = "1.64"
authors = ["Paul Schoenfelder <paulschoenfelder@gmail.com>"]
description = "Provides an async-ready client for Phoenix Channels in Rust"
repository = "https://github.com/liveviewnative/phoenix-channels"
homepage = "https://github.com/liveviewnative/phoenix-channels"
documentation = "https://github.com/liveviewnative/phoenix-channels"
categories = ["asynchronous", "web-programming:websocket"]
keywords = ["phoenix", "channels", "elixir"]
license = "Apache-2.0"
readme = "README.md"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = []
nightly = []
native-tls = ["tokio-tungstenite/native-tls"]

[dependencies]
atomic-take = "1.1.0"
fxhash = "0.2"
flexstr = "0.9.2"
futures = "0.3"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tokio = { version = "1.21", features = ["full", "tracing", "test-util"] }
tokio-tungstenite = "0.17"
url = "2.3"
uuid = { version = "1.3.1", features = ["v4"] }

[dev-dependencies]
env_logger = "0.9"
