# based on https://github.com/xaynetwork/cargo_tai
name: x86_64-linux-android

on: [pull_request, push]

env:
  ANDROID_COMMANDLINE_TOOLS_VERSION: 9477386
  ANDROID_API: 33
  ANDROID_NDK_VERSION: 25.2.9519653
  ANDROID_SYSTEM_IMAGE_PACKAGE: system-images;android-33;google_apis_playstore;x86_64
  OPENSSL_VERSION: 1.1.1s
  TOOLCHAIN: nightly
  CARGO_TERM_COLOR: always
  CARGO_NDK_REV: "8478e58"
  CARGO_TAI_REV: "90f487f"

jobs:
  integration_tests:
    # rust cross-compilation
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: x86_64-linux-android
          default: true
      - name: Cache Cargo
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
          key: ${{ github.workflow }}-${{ github.job }}-toolchain-${{ env.TOOLCHAIN }}-cargo-${{ env.CARGO_NDK_REV }}-${{ env.CARGO_TAI_REV }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Install cargo-ndk
        run: |
          if ! command -v cargo-ndk &> /dev/null; then
            cargo install --git  https://github.com/bbqsrc/cargo-ndk --rev ${CARGO_NDK_REV}
          fi
      - name: Install cargo-tai
        run: |
          if ! command -v cargo-tai &> /dev/null; then
            cargo install --git https://github.com/liveview-native/cargo_tai --branch liveviewnative --rev ${CARGO_TAI_REV}
          fi
      - name: Set up Elixir
        run: brew install elixir
      - name: Cache deps
        id: cache-deps
        uses: actions/cache@v3
        env:
          cache-name: cache-elixir-deps
        with:
          path: tests/support/test_server/deps
          key: ${{ runner.os }}-mix-${{ env.cache-name }}-2-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.cache-name }}-
      - name: Cache compiled build
        id: cache-build
        uses: actions/cache@v3
        env:
          cache-name: cache-compiled-build
        with:
          path: tests/support/test_server/_build
          key: ${{ runner.os }}-mix-${{ env.cache-name }}-2-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ env.cache-name }}-
            ${{ runner.os }}-mix-
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache target
        id: cache-target
        uses: actions/cache@v3
        env:
          cache-name: cache-target
        with:
          path: target
          key: ${{ github.workflow }}-${{ github.job }}-${{ env.cache-name }}-${{ env.TOOLCHAIN }}-cargo-${{ env.CARGO_NDK_REV }}-${{ env.CARGO_TAI_REV }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Build phoenix_channels_client
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets
      - name: Install hex
        run: mix local.hex --force
      - name: Install rebar3
        run: mix local.rebar --force
      - name: Install test server dependencies
        working-directory: ./tests/support/test_server
        run: mix deps.get
      - name: Build test server
        working-directory: ./tests/support/test_server
        run: mix compile
      - name: Cache android
        id: cache-android
        uses: actions/cache@v3
        env:
          cache-name: cache-android
        with:
          path: ~/android
          key: ${{ runner.os }}-android-${{ env.cache-name }}-${{ env.ANDROID_COMMANDLINE_TOOLS_VERSION }}
          restore-keys: |
            ${{ runner.os }}-android-${{ env.cache-name }}-${{ env.ANDROID_COMMANDLINE_TOOLS_VERSION }}
            ${{ runner.os }}-mix-
      - name: Download Android Command Line Tools
        run: |
          if [ ! -d "$HOME/android/cmdline-tools/${ANDROID_COMMANDLINE_TOOLS_VERSION}" ]; then
            cd $HOME
            # clear old version if it exists
            rm -rf android
            mkdir -p android/cmdline-tools
            cd android/cmdline-tools
            PACKAGE=commandlinetools-mac-${ANDROID_COMMANDLINE_TOOLS_VERSION}_latest
            wget https://dl.google.com/android/repository/${PACKAGE}.zip
            unzip ${PACKAGE}.zip
            rm ${PACKAGE}.zip
            mv cmdline-tools ${ANDROID_COMMANDLINE_TOOLS_VERSION}
            ln -sf ${ANDROID_COMMANDLINE_TOOLS_VERSION} latest
          fi
      - name: Add Android home and subdirectories to environment
        run: |
          export ANDROID_HOME="$HOME/android"
          echo "ANDROID_HOME=$ANDROID_HOME" >> $GITHUB_ENV
          echo "${ANDROID_HOME}/cmdline-tools/latest/bin" >> $GITHUB_PATH
          echo "${ANDROID_HOME}/emulator" >> $GITHUB_PATH
          echo "${ANDROID_HOME}/platform-tools" >> $GITHUB_PATH
      - name: sdkmanager setup
        run: |
          yes | sdkmanager --licenses
          sdkmanager --install "platform-tools" \
                               "platforms;android-${ANDROID_API}" \
                               "build-tools;${ANDROID_API}.0.2" \
                               "emulator" \
                               "ndk;${ANDROID_NDK_VERSION}" \
                               "${ANDROID_SYSTEM_IMAGE_PACKAGE}"
      # https://github.com/sfackler/rust-openssl/issues/1402
      - name: Add NDK clang to PATH
        run: |
          echo "${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/darwin-x86_64/bin" >> $GITHUB_PATH
      - name: Cache OpenSSL
        id: cache-openssl
        uses: actions/cache@v3
        env:
          cache-name: cache-openssl
        with:
          path: ~/openssl
          key: ${{ runner.os }}-${{ env.cache-name }}-2-${{ env.OPENSSL_VERSION }}-${{ env.ANDROID_NDK_VERSION }}
      - if: steps.cache-openssl.outputs.cache-hit != 'true'
        name: Download OpenSSL
        run: |
          if [[ ! -d "${HOME}/openssl/${OPENSSL_VERSION}" ]]; then
            cd $HOME
            # clear old version if it exists
            rm -rf openssl
            mkdir openssl
            cd openssl 
            PACKAGE=openssl-${OPENSSL_VERSION}
            wget https://www.openssl.org/source/${PACKAGE}.tar.gz -O - | tar -xz
            mv ${PACKAGE} ${OPENSSL_VERSION}
            ln -s ${OPENSSL_VERSION} latest
          fi
      - if: steps.cache-openssl.outputs.cache-hit != 'true'
        name: Compile OpenSSL for NDK
        run: |  
          # if above is not true, then downloaded, but not compiled against correct NDK version
          export CC=clang
          cd ~/openssl/latest
          ./Configure android64-x86_64
          make
      - name: Export OpenSSL for NDK
        run: |  
          echo "X86_64_LINUX_ANDROID_OPENSSL_INCLUDE_DIR=$HOME/openssl/latest/include" >> $GITHUB_ENV
          echo "X86_64_LINUX_ANDROID_OPENSSL_LIB_DIR=$HOME/openssl/latest" >> $GITHUB_ENV
      - name: Create Android Virtual Device
        run: |
          echo no | \
            avdmanager create avd --force \
                                  --name AVD \
                                  --abi google_apis_playstore/x86_64 \
                                  --package "${ANDROID_SYSTEM_IMAGE_PACKAGE}"
      - name: Test phoenix_channel_clients
        run: |
          echo "Starting ADB server"
          ${ANDROID_HOME}/platform-tools/adb start-server
          echo "Starting Emulator"
          ${ANDROID_HOME}/emulator/emulator -avd AVD -netdelay none -netspeed full &
          ${ANDROID_HOME}/platform-tools/adb wait-for-device
          echo "Launching Test Server"
          cd tests/support/test_server && mix phx.server &
          while ! nc -z localhost 9002; do sleep 0.1; done
          echo "Test Server launched"
          export RUSTFLAGS="--cfg tokio_unstable"
          cargo-tai tests --target x86_64-linux-android \
                          --android-api-lvl ${ANDROID_API} \
                          --android-ndk ${ANDROID_NDK_HOME} \
                          --android-sdk ${ANDROID_HOME} \
                          --envs LD_LIBRARY_PATH=lib \
                          --libraries $HOME/openssl/latest/libcrypto.so.1.1 \
                          --libraries $HOME/openssl/latest/libssl.so.1.1
          kill %2
          kill %1
